<!DOCTYPE html>
<html lang="en" ng-app="MyApp">

<head>
    <title>Document</title>
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap-theme.css">
</head>

<body ng-cloak>
    <div ng-controller="MyAppCtrl as ctrl">
        <form class="container" ng-submit="ctrl.addUser()">
            <div class="page-header">
                <h3>User Registration</h3>
            </div>
            <div class="form-group">
                <label>Name</label>
                <input name="name" type="text" class="form-control" ng-model="ctrl.user.name">
            </div>
            <div class="form-group">
                <label>Email</label>
                <input name="email" type="email" class="form-control" ng-model="ctrl.user.email">
            </div>
            <div class="form-group">
                <label>Phone</label>
                <input name="phone" type="text" class="form-control" ng-model="ctrl.user.phone">
            </div>
            <div class="form-group">
                <label>Date of birth</label>
                <input name="dob" type="date" class="form-control" ng-model="ctrl.user.dob">
            </div>
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-success">
            </div>
        </form>
    </div>

    <script src="./bower_components/jquery/dist/jquery.min.js"></script>
    <script src="./bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="./bower_components/angular/angular.min.js"></script>
    <script src="app/app.module.js"></script>
    <script src="app/app.controller.js"></script>
</body>

</html>